// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



// COLORS
$blue:                      #0188c7;
$blue:                      #0e9ac8;
$green:                     #3db39e;
$green:                     #3f9b6f;
$red:                       #d9534f;
$yellow:                    #f0ad4e;

$bg-highlight:              #d8e8e8;


// GRAYSCALE
$gray-dark:                 #333;
$gray-light:                #dadada; // Default hover color for filter items
$gray-lighter:              #f2f2f2; // Card headers and footers
$gray-lightest:             #f9f9f9; // Table headers

$brand-primary:             $blue;
$brand-success:             $green;
$brand-danger:              $red;
$brand-warning:             $yellow;


// Borders
$border-color-default:      #dadada;
$border-color-light:        rgba(0, 0, 0, 0.05);

// Body
$body-bg:                   #efefef;
$body-color:                #333;

$text-muted:                #999;


// Links
$link-color:                #2aa6d0;
$link-hover-color:          darken($link-color, 12%);

// FONTS
$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-size-base:            14px;
$line-height-base:          1.3;
$font-family-base:          $font-family-sans-serif;

$headings-font-family:      "Lato", Arial, sans-serif;

$font-size-h2:              1.4rem;

// COMPONENTS
$border-radius:             0px;

// Tables
$table-bg:                      #fff;
$table-cell-padding:            .7rem;
$table-sm-cell-padding:         .3rem;

$table-bg-hover:                rgba($black,.075) !default;
$table-bg-active:               $table-bg-hover !default;

$table-head-bg:                 $gray-lighter;
$table-head-color:              #646464;

$table-border-color:            $border-color-light;

$list-indent:                18px;



// Buttons
$btn-border-radius:           3px;
$btn-padding-x:               1.4rem;
$btn-padding-y:               .7rem;
$btn-success-bg:              $brand-success;
$btn-success-border:          $brand-success;
$btn-danger-bg:               $brand-danger;
$btn-danger-border:           $brand-danger;
$btn-warning-bg:              $brand-warning;
$btn-warning-border:          $brand-warning;


// Dropdowns
$dropdown-item-padding-x:     .9rem;
$dropdown-link-active-bg:     #d8e8e8;
$dropdown-link-active-color:  inherit;


// Navs

$nav-tabs-border-width:                       0px;
$nav-tabs-border-radius:                      0px;
$nav-tabs-link-hover-border-color:            red;
$nav-tabs-active-link-hover-color:            #00bf87;
$nav-tabs-active-link-hover-bg:               #fff;
$nav-tabs-active-link-hover-border-color:     #ddd !default;
$nav-tabs-justified-link-border-color:        #ddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;

// Pagination

$pagination-padding-x:                .5rem ;
$pagination-padding-y:                .35rem;
$pagination-line-height:              1;

$pagination-color:                     $link-color;
$pagination-bg:                        transparent;
$pagination-border-width:              0;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;


// Cards
$card-spacer-x:                         1.2rem;
$card-spacer-y:                         1rem;
$card-border-width:                     1px;
$card-border-radius:                    0px;
$card-cap-bg:                           $gray-lighter;

// Badges
$badge-font-size:                       80%;

// Modals
$modal-backdrop-bg:                     #ccc;
$modal-backdrop-opacity:                .9;
$modal-content-border-width:            0px;
$modal-title-line-height:               $line-height-base;
$modal-header-border-width:             0px;
$modal-footer-border-width:             0px;
$modal-lg:                              1000px;

// Icons 

$icon-spacer:              ($spacer-x * .5);