/* Magnifier-specific Styles */
/* Scss Document */




//
// GLOBAL MAGNIFIER STYLES
//

.magnifier-status, .fa.magnifier-status {
    font-size: 1.4rem;
    &.magnifier-status-sm {
        font-size: 1.2rem;
    }
    &.magnifier-status-confirmed {
        color: $red;
    }
    &.magnifier-status-suspicious {
        color: $yellow;
    }
    &.magnifier-status-unverified {
        color: #888;
    }
    &.magnifier-status-normal {
        color: $green;
    }
    &.magnifier-status-resolved {
        color: $blue;
    }
}

.fa.magnifier-status-resolved {
    font-size: 11px;
}






//
// ASSETS PAGE
//

#subhead-users-hosts {
    border-left: 0px;
    font-size: 14px;
    .fa {
        font-size: 16px;
        margin-right: .3rem;
    }
}

#alerts-list {
    td.link-col, th.link-col  {
        padding: 0px;
        width: 1px;
        position: relative;
    }
    .connected-row {
        td {
            border-top: 0px;
        }
        .link-col::after {
            content: "";
            position: absolute;
            bottom: 16px;
            left: 5px;
            display: inline-block;
            width: 6px;
            height: 50px;
            border: 1px solid $border-color-default;
            border-right: 0px;
        }
    }
    
}



.alert-list div {
    margin-bottom: 4px;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.alert-count {
    // Make the hover target a little bigger
    padding-left: 7px;
    padding-right: 7px;
    
}



//
// HOST DETAIL PAGE
//

#org-unit {
    //Force the OU string to ellipsize as needed
    flex: 1 0 0;
}

#date-detected {
    //Push "Date Detected" to the right
    margin-left: auto;
}


#list-panel {
    width: 370px;
    &.collapsed {
        margin-left: -370px;
    }
}

#alert-list {
    .content-col {
        display: flex;
        align-items: center;
        .status-col {
            flex-shrink: 0;
            padding-right: 5px;
        }
        .item-icon-col {
            padding-right: 7px;
        }
        .icon-col {
            width: 35px;
            flex-shrink: 0;
            flex-grow: 0;
            text-align: right;
            .fa {
                visibility: hidden;
            }
            .fa.active {
                visibility: visible;
            }
            
        }
        .name-col {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;
            flex-shrink: 1;
        }
        &.subhead {
            font-weight: bold;
        }
    }
    .controls-col {
        text-align: right;
        width: 35px;
        
    }
    .status-btn {
        background-color: transparent;
        border: 1px solid transparent;
        padding: 2px 4px;
        &:hover {
            border: 1px solid #dadada;
        }
        &.dropdown-toggle::after {
            margin-left: 0px;
        }
    }
    .status-col > .fa {
        padding: 3px 18px 3px 5px; // When status icon isn't on a button, give it the same padding so it lines up 
    }
    .root-item {
        .status-col {
            width: 26px;
            > .fa {
                padding-left: 0px;
            }
        } 
    }
    .level-2 > .table-row {
        padding-left: 54px;
    }
    .table-row:hover {
        .icon-col .fa {
            visibility: visible;
        }
    }
    
}


#alert-list {
    .fa-ellipsis-v {
        color: rgba(0,0,0,.2);
        padding-left: 10px;
        margin-top: 2px;
        margin-left: 4px;
        &:hover {
            color: rgba(0,0,0,.6);
        }
    }
    .dropdown.show 
    .fa-ellipsis-v {
        color: $blue;
    }
}

.action-menu {
    right: -5px;
}




.dropdown-item {
    position: relative;
}
.dropdown-item.selected::before {
    content: "\f00c";
    position: absolute;
    font-family: "FontAwesome";
    left: 3px;
    line-height: 18px;
    font-size: 11px;
    color: #999;
}

