/* Magnifier-specific Styles */
/* Scss Document */


//
// GLOBAL MAGNIFIER STYLES
//

.magnifier-status, .fa.magnifier-status {
    font-size: 1.4rem;
    align-items: center;
    align-content: center;
    &.magnifier-status-sm {
        font-size: 1.2rem;
    }
    &.magnifier-status-confirmed {
        color: $red;
    }
    &.magnifier-status-suspicious {
        color: $yellow;
    }
    &.magnifier-status-unverified {
        color: #888;
    }
    &.magnifier-status-normal {
        color: $green;
    }
    &.magnifier-status-resolved {
        color: $blue;
    }
    &.resolved::after {
        content: "\f00c";
        font-size: 11px;
        color: $blue;
        position: relative;
        margin-left: 2px;
        top: -3px;
    }
}

// Status indiciator with drop-down. Used on the Host Detail/Alert Detail page
.magnifier-status-btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 2px 4px;
    white-space: nowrap;
    &:hover {
        border: 1px solid #dadada;
    }
    &.dropdown-toggle::after {
        margin-left: 0px;
    }
}


//
// ASSETS PAGE
//

#subhead-users-hosts {
    border-left: 0px;
    font-size: 14px;
    .fa {
        font-size: 16px;
        margin-right: .3rem;
    }
}

#alerts-list {
    td.link-col, th.link-col  {
        padding: 0px;
        width: 1px;
        position: relative;
    }
    .connected-row {
        td {
            border-top: 0px;
        }
        .link-col::after {
            content: "";
            position: absolute;
            bottom: 16px;
            left: 5px;
            display: inline-block;
            width: 6px;
            height: 50px;
            border: 1px solid $border-color-default;
            border-right: 0px;
        }
    }   
}

.alert-list div {
    margin-bottom: 4px;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.alert-count {
    // Make the hover target a little bigger
    padding-left: 7px;
    padding-right: 7px;
}


//
// HOST DETAIL PAGE
//

// List on left sidebar is wider than the default
#list-panel {
    width: 370px;
    &.collapsed {
        margin-left: -370px;
    }
}

#alert-list {
    .status-col {
        flex-basis: 34px;
        flex-shrink: 0;
        > .fa {
            margin: 3px 0px 0px 5px; // When status icon isn't on a button, give it the same padding so it lines up with the other icons
        }
    }    
}

.timeline-container {
    width: 400px;
}

.magnifier-toolbar {
    background-color: #f9f9f9;
    padding: 10px 15px;
}

// Whitelist Modal


.input-ip-address {
    display: flex;
    align-items: flex-start;
    input:first-of-type {
        flex-grow: 1;
    }
    span {
        flex-grow: 0;
        margin-left: 6px;
        margin-right: 6px;
        color: #999;
        font-size: 22px;
        font-weight: 300;
    }
    input:last-of-type {
        flex-grow: 0;
        width: 40px;
    }
}

#whitelist-form {
    label {
        font-weight: 600;
    }
    .row-off label {
        color: #999;
        font-weight: 400;
    }
    .row-off .col-8 {
        opacity: .6;
    }
    .col-form-label {
        text-align: left;
    }
}

