// Variables overrides
//
// Root override file. Sets some core values so that Bootstrap can use them while setting other variables.


// Colors
$blue:                      #0e9ac8;

// Body
$body-bg:                   #efefef;
$body-color:                #333;
